# Pandas Practice

This notebook is dedicated to practicing different tasks with pandas.

It should be noted there may be more than one different way to answer a question or complete an exercise.

Exercises are based on (and directly taken from) the quick introduction to pandas notebook.

Different tasks will be detailed by comments or text.

For further reference and resources, it's advised to check out the [pandas documnetation](https://pandas.pydata.org/pandas-docs/stable/).

In [ ]:
# Import pandas
import pandas as pd

In [ ]:
# Create a series of three different colours
colours = pd.Series(['Red', 'Blue', 'Green'])

In [ ]:
# View the series of different colours
print("Colours Series:")
print(colours)

In [ ]:
# Create a series of three different car types and view it
car_types = pd.Series(['Sedan', 'SUV', 'Truck'])
print("\nCar Types Series:")
print(car_types)

In [ ]:
# Combine the Series of cars and colours into a DataFrame
car_data = pd.DataFrame({
    'Colour': colours,
    'Car Type': car_types
})

In [ ]:
# Import "car-sales.csv" from the github site of the lecture (or download it) and turn it into a DataFrame
print("\nCombined DataFrame:")
print(car_data)

car_sales_df = pd.read_csv("https://raw.githubusercontent.com/szbela87/ml_22_elteik/main/data/car-sales.csv")
print("\nCar Sales DataFrame:")
print(car_sales_df.head())

**Note:** Since you've imported `car-sales.csv` as a DataFrame, we'll now refer to this DataFrame as 'the car sales DataFrame'.

In [ ]:
# Export the DataFrame you created to a .csv file
car_data.to_csv('car_data.csv', index=False)

In [ ]:
# Find the different datatypes of the car data DataFrame
data_types = car_data.dtypes
print("\nData Types of Car Data DataFrame:")
print(data_types)

In [ ]:
# Describe your current car sales DataFrame using describe()
car_sales_description = car_sales_df.describe()
print("\nDescription of Car Sales DataFrame:")
print(car_sales_description)

In [ ]:
# Get information about your DataFrame using info()
car_sales_info = car_sales_df.info()
print("\nInformation about Car Sales DataFrame:")
print(car_sales_info)

What does it show you?

In [ ]:
# Create a Series of different numbers and find the mean of them
numbers_series = pd.Series([5, 15, 25, 35, 45])
mean_value = numbers_series.mean()
print("Mean of the Numbers Series:", mean_value)

In [ ]:
# Create a Series of different numbers and find the sum of them
sum_value = numbers_series.sum()
print("Sum of the Numbers Series:", sum_value)

In [ ]:
car_sales = pd.read_csv("https://raw.githubusercontent.com/szbela87/ml_22_elteik/main/data/car-sales.csv")
# List out all the column names of the car sales DataFrame
column_names = car_sales.columns.tolist()
print("Column Names of the Car Sales DataFrame:", column_names)

In [ ]:
# Find the length of the car sales DataFrame
length_of_dataframe = len(car_sales)
print("Length of the Car Sales DataFrame:", length_of_dataframe)

In [ ]:
# Show the first 5 rows of the car sales DataFrame
first_5_rows = car_sales.head()
print("\nFirst 5 Rows of the Car Sales DataFrame:\n", first_5_rows)

In [ ]:
# Show the first 7 rows of the car sales DataFrame
first_7_rows = car_sales.head(7)
print("\nFirst 7 Rows of the Car Sales DataFrame:\n", first_7_rows)

In [ ]:
# Show the bottom 5 rows of the car sales DataFrame
bottom_5_rows = car_sales.tail()
print("\nBottom 5 Rows of the Car Sales DataFrame:\n", bottom_5_rows)

In [ ]:
# Use .loc to select the row at index 3 of the car sales DataFrame
row_at_index_3 = car_sales.loc[3]
print("\nRow at Index 3 of the Car Sales DataFrame:\n", row_at_index_3)

In [ ]:
# Use .iloc to select the row at position 3 of the car sales DataFrame
row_at_position_3 = car_sales.iloc[3]
print("\nRow at Position 3 of the Car Sales DataFrame:\n", row_at_position_3)

Notice how they're the same? Why do you think this is?

Check the pandas documentation for [.loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) and [.iloc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html). Think about a different situation each could be used for and try them out.

In [ ]:
# Select the "Odometer (KM)" column from the car sales DataFrame
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline 
odometer_column = car_sales["Odometer (KM)"]

In [ ]:
# Find the mean of the "Odometer (KM)" column in the car sales DataFrame
mean_odometer = odometer_column.mean()
print("Mean of Odometer (KM):", mean_odometer)

In [ ]:
# Select the rows with over 100,000 kilometers on the Odometer
high_odometer = car_sales[car_sales["Odometer (KM)"] > 100000]
print("\nRows with over 100,000 kilometers on the Odometer:\n", high_odometer)

In [ ]:
# Create a crosstab of the Make and Doors columns
crosstab_make_doors = pd.crosstab(car_sales["Make"], car_sales["Doors"])
print("\nCrosstab of Make and Doors:\n", crosstab_make_doors)

In [ ]:
# Group columns of the car sales DataFrame by the Make column and find the average
average_by_make = car_sales.groupby("Make").mean(numeric_only=True)
print("\nAverage values grouped by Make:\n", average_by_make)

In [ ]:
# Import Matplotlib and create a plot of the Odometer column
# Don't forget to use %matplotlib inline
plt.figure(figsize=(10, 6))

In [ ]:
# Create a histogram of the Odometer column using hist()
car_sales["Odometer (KM)"].hist(bins=20)
plt.title("Histogram of Odometer (KM)")
plt.xlabel("Odometer (KM)")
plt.ylabel("Frequency")
plt.show()

In [ ]:
# Try to plot the Price column using plot()
plt.figure(figsize=(10, 6))
car_sales["Price"].plot(kind='line')
plt.title("Price of Cars")
plt.xlabel("Index")
plt.ylabel("Price")
plt.show()

Why didn't it work? Can you think of a solution?

You might want to search for "how to convert a pandas string columb to numbers".

And if you're still stuck, check out this [Stack Overflow question and answer on turning a price column into integers](https://stackoverflow.com/questions/44469313/price-column-object-to-int-in-pandas).

See how you can provide the example code there to the problem here.

In [ ]:
print(car_sales.dtypes)
print(car_sales["Price"].unique())
car_sales['Price'] = car_sales['Price'].replace(r'[\$,]', '', regex=True).astype(float)
car_sales["Price"] = car_sales["Price"].astype(int)
import matplotlib.pyplot as plt
plt.figure(figsize=(10, 6))
car_sales["Price"].plot(kind='line')
plt.title("Price of Cars")
plt.xlabel("Index")
plt.ylabel("Price")
plt.show()

In [ ]:
# Remove the punctuation from price column
car_sales["Price"] = car_sales["Price"].replace(r'[\$,]', '', regex=True)  # Use raw string

In [ ]:
# Check the changes to the price column
print("Price after removing punctuation:")
print(car_sales["Price"])

In [ ]:
# Remove the two extra zeros at the end of the price column
# car_sales["Price"] = car_sales["Price"].str[:-2]

print(car_sales["Price"].unique())
car_sales["Price"] = car_sales["Price"] // 100 
print(car_sales.head())

In [ ]:
# Check the changes to the Price column
print("\nPrice after removing last two characters:")
print(car_sales["Price"])

In [ ]:
# Change the datatype of the Price column to integers
car_sales['Price'] = car_sales['Price'].replace(r'[\$,]', '', regex=True).astype(float)
car_sales["Price"] = car_sales["Price"].astype(int)

# Check the DataFrame to confirm the changes
print(car_sales.head())

In [ ]:
# Lower the strings of the Make column
car_sales["Make"] = car_sales["Make"].str.lower()
print("\nFinal DataFrame:")
print(car_sales)

If you check the car sales DataFrame, you'll notice the Make column hasn't been lowered.

How could you make these changes permanent?

Try it out.

In [ ]:
# Make lowering the case of the Make column permanent
car_sales["Make"] = car_sales["Make"].str.lower()

In [ ]:
# Check the car sales DataFrame
print(car_sales)

Notice how the Make column stays lowered after reassigning.

Now let's deal with missing data.

In [ ]:
# Import the car sales DataFrame with missing data ("../data/car-sales-missing-data.csv")
car_sales_missing = pd.read_csv("https://raw.githubusercontent.com/szbela87/ml_22_elteik/main/data/car-sales-missing-data.csv")

# Check out the new DataFrame
print(car_sales_missing)

Notice the missing values are represented as `NaN` in pandas DataFrames.

Let's try fill them.

In [ ]:
# Fill the Odometer column missing values with the mean of the column inplace
car_sales_missing['Odometer'] = car_sales_missing['Odometer'].fillna(car_sales_missing['Odometer'].mean())

In [ ]:
# View the car sales missing DataFrame and verify the changes
print(car_sales_missing)

In [ ]:
# Remove the rest of the missing data inplace
car_sales_missing = car_sales_missing.dropna()

In [ ]:
# Verify the missing values are removed by viewing the DataFrame
print(car_sales_missing)

We'll now start to add columns to our DataFrame.

In [ ]:
# Create a "Seats" column where every row has a value of 5
import numpy as np
car_sales_missing['Seats'] = 5

In [ ]:
# Create a column called "Engine Size" with random values between 1.3 and 4.5
# Remember: If you're doing it from a Python list, the list has to be the same length
# as the DataFrame
car_sales_missing['Engine Size'] = np.random.uniform(1.3, 4.5, size=len(car_sales_missing))

In [ ]:
# Create a column which represents the price of a car per kilometer
# Then view the DataFrame
car_sales_missing['Price'] = car_sales_missing['Price'].replace(r'[\$,]', '', regex=True).astype(float)
car_sales_missing['Price per KM'] = car_sales_missing['Price'] / car_sales_missing['Odometer']
print(car_sales_missing)

In [ ]:
# Remove the last column you added using .drop()
car_sales_missing = car_sales_missing.drop(columns=['Price per KM'])

In [ ]:
# Shuffle the DataFrame using sample() with the frac parameter set to 1
# Save the the shuffled DataFrame to a new variable
shuffled_car_sales = car_sales_missing.sample(frac=1, random_state=42)
print(shuffled_car_sales)

Notice how the index numbers get moved around. The [`sample()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html) function is a great way to get random samples from your DataFrame. It's also another great way to shuffle the rows by setting `frac=1`.

In [ ]:
# Reset the indexes of the shuffled DataFrame
shuffled_car_sales = car_sales_missing.sample(frac=1).reset_index(drop=True)
print(shuffled_car_sales)

Notice the index numbers have been changed to have order (start from 0).

In [ ]:
# Change the Odometer values from kilometers to miles using a Lambda function
# Then view the DataFrame
shuffled_car_sales['Odometer'] = shuffled_car_sales['Odometer'].apply(lambda x: x * 0.621371)
print(shuffled_car_sales)

In [ ]:
# Change the title of the Odometer (KM) to represent miles instead of kilometers
shuffled_car_sales.rename(columns={'Odometer': 'Odometer (miles)'}, inplace=True)
print(shuffled_car_sales)

## Extensions

For more exercises, check out the pandas documentation, particularly the [10-minutes to pandas section](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html).
Get hands-on with the code and see what it does.

The next place you should check out are the [top questions and answers on Stack Overflow for pandas](https://stackoverflow.com/questions/tagged/pandas?sort=MostVotes&edited=true). Often, these contain some of the most useful and common pandas functions. Be sure to play around with the different filters!

Finally, always remember, the best way to learn something new to is try it. Make mistakes. Ask questions, get things wrong, take note of the things you do most often. And don't worry if you keep making the same mistake, pandas has many ways to do the same thing and is a big library. So it'll likely take a while before you get the hang of it.